<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>IMMATRICOLA IL CARRELLO/RIMORCHIO</h3>
                    <form class="mt-4">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="NOME">
                            </div>
                            <div class="col">
                                <select class="form-select" id="inlineFormSelectPref">
                                  <option *ngFor="let veicolo of veicolo| async">{{veicolo.TIPO | json}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>