<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Lista Immatricolazioni</span>
      <a routerLink="/nuova-immatricolazione"><button class="btn btn-dark btn-lg"
          style="float: right">NUOVA</button></a>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th>ID</th>
            <th>N° TELAIO</th>
            <th>TIPOLOGIA</th>
            <th>ANNO DI COSTRUZIONE</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let immatricolazione of immatricolazione ">
            <td>{{immatricolazione.ID_PRATICA}}</td>
            <td>{{immatricolazione.TELAIO_N}}</td>
            <td>{{immatricolazione.TIPO}}</td>
            <td>{{immatricolazione.ANNO_COSTRUZIONE}}</td>
            <td>
              <i class="fas fa-trash fa-lg text-danger" style="margin-right: 15px;"></i>
              <i class="fas fa-file-pdf fa-lg"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>